Multivarient_Logistic_regression
where we need to predict the selaray of a candidate

In [29]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import math

df=pd.read_csv("hiring.csv")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [42]:
# Function to convert text to integer
def text_to_int(text):
    if pd.isna(text) or text == '':
        return 0  # Handle missing or empty values
    text = text.strip().lower()
    # Dictionary for direct mapping of common number words
    number_map = {
        'one': 1, 'two': 2, 'three': 3, 'four': 4,
        'five': 5, 'six': 6, 'seven': 7, 'eight': 8, 'nine': 9,
        'ten': 10, 'eleven': 11, 'twelve': 12
    }
    if text in number_map:
        return number_map[text]
    try:
        # Try converting directly if it's already a number
        return int(text)
    except ValueError:
        return 0   # Default for unparseable values

# Read the CSV file
df = pd.read_csv('hiring.csv')

# Apply the conversion to the experience column
df['experience'] = df['experience'].apply(text_to_int)

# Save the updated CSV
df.to_csv('hiring_updated.csv', index=False)

# Display the updated DataFrame
print(df)

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    NaN                           7      72000
7          11                    7.0                           8      80000

In [43]:
medn=df.experience.mean()
print(medn)
df.experience = df.experience.fillna(medn)

# Calculate median for test_score(out of 10) and fill missing values
test_score_median = df['test_score(out of 10)'].mean()
print(f"Median of test_score(out of 10): {test_score_median}")
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(test_score_median)
df

4.75
Median of test_score(out of 10): 7.857142857142857

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0               8.000000                           9      50000
1           0               8.000000                           6      45000
2           5               6.000000                           7      60000
3           2              10.000000                          10      65000
4           7               9.000000                           6      70000
5           3               7.000000                          10      62000
6          10               7.857143                           7      72000
7          11               7.000000                           8      80000

In [45]:
model=linear_model.LinearRegression()
model.fit(df.drop('salary($)',axis='columns'),df['salary($)'])
model.predict([[2,9,6]])

c:\Users\adelz\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53290.89255945])